#home { background-image:
    linear-gradient(to right, RGB(0, 0, 0), RGB(0, 0, 0)), 
    linear-gradient(to right, RGB(110, 175, 233), RGB(110, 175, 233));
        background-repeat:no-repeat;
        background-size: 100% 800px, 100% 0px;}

#contactback {
        background-image:
    linear-gradient(to right, RGB(0, 0, 0), RGB(0, 0, 0)), 
    linear-gradient(to right, RGB(110, 175, 233), RGB(110, 175, 233));
        background-repeat:no-repeat;
        background-size: 100% 110px, 100% 30px;
}

body {direction: ltr;
    background-image:
    linear-gradient(to right, RGB(0, 0, 0), RGB(0, 0, 0)), 
    linear-gradient(to right, RGB(110, 175, 233), RGB(110, 175, 233));
        background-repeat:no-repeat;
        background-size: 100% 400px, 100% 30px;
position: relative;
margin: 0;
min-height: 100%;
overflow: scroll;
}

#container {width: 960px; margin: 0 auto;}

#container::after {
    content: "";
    display: block;
    height: 100px;}

ul {list-style: none;}

#top ul li a:hover {color: rgba(255, 255, 255);}


.nav1, .nav2 {margin: 25px 20px;
color: rgba(255, 255, 255, 0.70);
text-decoration: none;
float: right;
font-size: 15px;
font-family: 'Gugi', cursive;}

a {text-decoration: none;}

h1 {font-size: 20px;
color: rgb(228, 228, 228);
padding-bottom: 15px;
font-family: 'Gugi', cursive;}

#page {font-size: 17.5px;
    color: white;
margin-bottom: -5px;
padding-top: 30px;}

#page1 {font-size: 22px;
    color: white;}

#inner {width: 150px;}

h2 {font-family: 'Gugi', cursive;
    text-transform: uppercase;
    font-size: 100px;
    color: white;
    font-weight: bold;}

#u {
padding-top:40px;
}

#d {
    color: rgb(255, 80, 96);
}

#u, #e {
font-size: 60px;}


h3 {font-family: 'Gugi', cursive;
font-size: 30pt;
text-align: center;
padding-top: 20px;
padding-bottom: 10px;}

h4 {font-family: 'Gugi', cursive;
font-size: 30pt;
text-align: center;
padding-top: 60px;
padding-bottom: 10px;}

#header {padding-top: 50px;
}

#title {
    padding-top: 20px;
}

.d {font-size: 80px;
font-weight: bold;}

#bottomnavbar {margin-top: 25px;
padding-bottom: 50px;}

.bottom ul li a:hover {color: rgb(250, 107, 107);}

a.nav3, a.nav4, a.nav5, a.nav6 {
font-family: 'Gugi', cursive;
margin: 0px 18px;
color: rgba(255, 255, 255, 0.45);
text-decoration: none;
float: left;
font-size: 15px;
padding-top: 30px;
padding-left: 10px;
padding-bottom: 2px;}

#table {float: left;
box-shadow: inset 0px 0px 400px 110px rgba(0, 0, 0, .9);}

.pic1 {display: inline-block;
margin-top: 7px;
width: 306px;
height: 210px;
background: 
linear-gradient(
    rgba(0, 0, 0, 0.4), 
    rgba(0, 0, 0, 0.4)
  ),url(../images/Israel_small.png) no-repeat;
background-size: 306px 210px;
border-radius: 8px;
-webkit-filter: grayscale(100%);
filter: grayscale(80%)}

.pic1:hover {background: url(../images/Israel_small.png) no-repeat;
    background-size: 306px 210px;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);}

.pic2 {display: inline-block;
width: 306px;
height: 210px;
background: url(../images/solshani.jpeg) no-repeat;
background-size: 306px 210px;
border-radius: 8px;
margin-left: 5px;
-webkit-filter: grayscale(100%);
filter: grayscale(80%)}

.pic2:hover {-webkit-filter: brightness(160%);
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);}

.pic3 {display: inline-block;
width: 306px;
height: 210px;
background: 
linear-gradient(
    rgba(0, 0, 0, 0.4), 
    rgba(0, 0, 0, 0.4)
  ),url(../images/cofixlogo.png) no-repeat;
background-size: 306px 210px;
border-radius: 8px;
margin-left: 5px;
-webkit-filter: grayscale(100%);
filter: grayscale(80%)}

.pic3:hover {
    background: url(../images/cofixlogo.png) no-repeat;
    background-size: 306px 210px;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);}

#brightness1 {background: url(../images/Israel_small.png) no-repeat;
    background-size: 306px 210px;}

#brightness2 {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    -webkit-filter: brightness(145%);}

#brightness3 {
    background: url(../images/cofixlogo.png) no-repeat;
    background-size: 306px 210px;}

#israeli {
    height: 650px;
    width: 780px;
    background: url(../images/IsraelPoster.png) no-repeat;
    background-size: 780px 650px;
    border-radius: 8px;
    padding-top: 10px;
margin: 0 auto;}
    
#audio {margin: 0 auto;
margin-top: 10px;
width: 600px;
-webkit-transition:all 0.5s linear;
-moz-transition:all 0.5s linear;
-o-transition:all 0.5s linear;
transition:all 0.5s linear;
-moz-box-shadow: 2px 2px 4px 0px #6c6c6c;
-webkit-box-shadow:  2px 2px 8px 0px #6c6c6c;
box-shadow: 2px 2px 4px 0px #6c6c6c;
-moz-border-radius:7px 7px 7px 7px ;
-webkit-border-radius:7px 7px 4px 4px ;
border-radius:7px 7px 7px 7px ;}

#mySound {width: 600px;}

#newarticle {
width: 900px;
height: 450px;
margin-top: 350px;}

#sol {margin: 0 auto;
width: 850px;
height: 600px;
background: url(../images/solshani.jpeg) no-repeat;
background-size: 850px 600px;
margin-top: 10px;
margin-bottom: 15px;
border-radius: 8px;}

#new {margin: 0 auto;
width: 850px;
height: 400px;
background: url(../images/cofixlogo.png) no-repeat;
background-size: 850px 400px;
margin-top: -30px;
margin-bottom: 0px;
border-radius: 8px;}

article p {text-align: center;
    margin: 0 auto;
    line-height: 1.5;}

#bigvideo {margin-left: 150px;
    margin-top: 10px;
    border-radius: 8px;}

#mainvideo {float: right;
border-radius: 50px;
margin-right: 23px;
margin-top: -27px;
width: 380px;
height: 335px;
background-color: rgba(0, 0, 0, 0.276);
-webkit-filter: grayscale(100%);
filter: grayscale(100%);}

#mainvideo:hover {-webkit-filter: grayscale(0%);
filter: grayscale(0%);
-webkit-filter: brightness(130%);}

#thisone {color: rgb(250, 107, 107);}

#footer {background-color: rgb(252, 137, 137);
width: 100%;;
height: 100px;
margin-top: 210px;
text-align: center;}

#footerabout {background-color: rgb(252, 137, 137);
width: 100%;;
height: 100px;
margin-top: 130px;
text-align: center;}


#footerPS {background-color: rgb(252, 137, 137);
    width: 100%;;
    height: 100px;
    margin-top: 820px;
    text-align: center;}

#footernew{background-color: rgb(252, 137, 137);
    width: 100%;;
    height: 100px;
    text-align: center;
margin-top: -65px;}

#footerIG {background-color: rgb(252, 137, 137);
    width: 100%;;
    height: 100px;
    margin-top: 435px;
    text-align: center;}


#aboutme {
background: url(../images/Heela.jpg) no-repeat;
width: 460px;
height: 740px;
background-size: 460px 740px;
float: right;
margin-top: -35px;}


#abouttitle {color: white;
font-size: 55px;
margin-top: 140px;
margin-left: 20px;}

#aboutarticle p {color: white;
font-family: 'Gugi', cursive;
font-size: 20px;
margin-left: 20px;
text-align: left;
padding-right: 500px;
line-height: 1.5;}

.button {color: black;
font-family: 'Gugi', cursive;
font-size: 18px;
font-weight: bold;
background-color: rgb(250, 107, 107);
margin-top: 50px;
margin-left: 20px;
width: 220px;
padding: 15px 0px;
text-align: center;
}

#Send {
color: black;
font-size: 22px;
width: 330px;
height: 62px;
padding: 15px;
border-radius: 5px;
margin-top: 25px;
margin-left: 0px;
text-align: center;
background-color: rgb(250, 107, 107);
font-family: 'Gugi', cursive;}

#Send:hover {color: black;
background-color:white;
border: black 1px solid;
}

.button:hover {color: white;
background-color: black;
border: white 1px solid;
}

#form {display: inline-block;
width: 960px;
height: 420px;
margin: 0 auto;
margin-top: 130px;
margin-right: 130px;}

#FullName, #profession, #Email, #Phone, #mySelect{
height: 20px;
width: 200px;
margin: 3px;
border: 0;
outline: 0;
background: transparent;
border-bottom: 1px solid black;
text-align: left;
font-size: 25px;
background-color: rgba(255, 255, 255, 0.605);
padding: 4px;
}

#mySelect {height: 130px;}

#footercontact {background-color: rgb(252, 137, 137);
width: 100%;;
height: 100px;
margin-top: -30px;
text-align: center;
}

article#contactme> h1{
    font-size: 50px;
    color: rgb(79, 78, 78);
    margin-top: -30px;
}

#form #contactme p, input {
font-family: 'Gugi', cursive;
padding-top: 10px;
font-size: 26px;
line-height: 1.5;
text-align: left;
}

#form #contactme p a {
    color: rgb(255, 138, 138);
}

input {
    padding: 0px;
}

#Facebook {display: inline-block;
    width: 60px;
    height: 60px;
    background: url(../images/facebook.png) no-repeat center center;
    background-size: 60px 60px;
    padding: 20px 3px;}

#Facebook:hover {-webkit-filter: drop-shadow(3px 3px 3px rgb(255, 255, 255));
    filter: drop-shadow(px px 5px rgb(255, 255, 255));}

#Instagram {display: inline-block;
    width: 60px;
    height: 60px;
    background: url(../images/instagram.png) no-repeat center center;
    background-size: 60px 60px;
    padding: 20px 3px;}

#Instagram:hover {-webkit-filter: drop-shadow(3px 3px 3px rgb(255, 255, 255));
    filter: drop-shadow(px px 5px rgb(255, 255, 255));}

#LinkedIn {display: inline-block;
    width: 60px;
    height: 60px;
    background: url(../images/linkedin.png) no-repeat center center;
    background-size: 60px 60px;
    padding: 20px 3px;}

#LinkedIn:hover {-webkit-filter: drop-shadow(3px 3px 3px rgb(255, 255, 255));
    filter: drop-shadow(px px 5px rgb(255, 255, 255));}

#Gmail {display: inline-block;
    width: 60px;
    height: 60px;
    background: url(../images/email.png) no-repeat center center;
    background-size: 60px 60px;
    padding: 20px 3px;}

#Gmail:hover {-webkit-filter: drop-shadow(3px 3px 3px rgb(255, 255, 255));
        filter: drop-shadow(px px 5px rgb(255, 255, 255));}
